﻿<div class="row">
    <h1 style="
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 2%;">
        Items
    </h1>
    <div ng-repeat="item in view.items" class="col-md-4" style="text-align: center; margin-bottom: 5%;">
        <div class="row">
            <div class="col-md-4">
                <a href="#/items/{{item.Id}}">
                    <img src="{{ view.getItemFirstImage(item) }}" class="img-rounded" style="width: 100%;">
                </a>
            </div>
            <div class="col-md-8">
                <h3>{{ item.DisplayName }}</h3>
                <p>{{ item.Description }}</p>
                <p>Price: ${{ item.Price }}</p>
            
            </div>
        </div>
    </div>
</div>