﻿<div class="row" style="margin-left: 5%;">
    <h1 style="
    margin-top: 0;
    margin-bottom: 2%;">
        {{ view.item.DisplayName}}
    </h1>
    <div class="row">
        <div class="col-md-4">
            <ul class="bxslider">
                <li ng-repeat="image in view.item.Images">
                    <img src="{{ view.getImageSrc(image) }}" class="img-rounded" style="width: 100%;" />
                    {{ view.initSlider($last) }}
                </li>
            </ul>
        </div>
        <div class="col-md-8">
            <h3>{{ view.item.DisplayName }}</h3>
            <p>{{ view.item.Description }}</p>
            <p>Price: ${{ view.item.Price }}</p>
            Quantity: <input type="number" ng-model="quantity">
            <button class="btn-primary" ng-click="view.addToCart(quantity, view.item)">Add to Cart</button>
        </div>
    </div>
</div>