﻿<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{ header.config.title }}</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-repeat="tab in header.config.leftTabs">
                    <a href="{{ tab.route }}">{{ tab.name }}</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-repeat="tab in header.config.rightTabs">
                    <a href="{{ tab.route }}">{{ tab.name }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>