﻿<!DOCTYPE html>
<html ng-app="App">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/bootstrap.min.css")
        @Styles.Render("~/Content/Site.css")
        @Styles.Render("~/Content/bxslider/jquery.bxslider.css")
        @Scripts.Render("~/Scripts/libs/jquery-1.10.2.min.js")
        @Scripts.Render("~/Scripts/libs/bootstrap.min.js")
        @Scripts.Render("~/Scripts/libs/angular.js")
        @Scripts.Render("~/Scripts/libs/angular-mocks.js")
        @Scripts.Render("~/Scripts/libs/angular-resource.js")
        @Scripts.Render("~/Scripts/libs/angular-route.js")
        @Scripts.Render("~/Scripts/libs/underscore.js")
        @Scripts.Render("~/Scripts/libs/jquery.bxslider.min.js")
        @Scripts.Render("~/Scripts/app.js")
        @Scripts.Render("~/Scripts/globals/js/Footer.js")
        @Scripts.Render("~/Scripts/globals/js/Header.js")
        @Scripts.Render("~/Scripts/items/js/Items.Controller.js")
        @Scripts.Render("~/Scripts/items/js/Items.Service.js")

    </head>
    <body ng-cloak>
        <div ng-controller="Header.Controller as header" ng-include="'/Scripts/globals/templates/header.html'"></div>
        <div ng-view></div>
        <div ng-controller="Footer.Controller as footer" ng-include="'/Scripts/globals/templates/footer.html'"></div>
    </body>
</html>
